[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "external/nekolib"]
	path = external/nekolib
	url = https://github.com/oneechanhax/nekolib
[submodule "utils/cotire"]
	path = utils/cotire
	url = https://github.com/sakra/cotire
